* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
body {
    background-color: white;
    color:#333;
    font-family: "Poppins", Arial, Roboto, Lobster;
    
}

/* hero */
.hero {
    padding: 8rem;
    height: 30rem;
    text-align: center;
    background-color:#C2EFD4;
}

.hero__title {
    color: #094215
}

.hero__description {
    color:#267D49;
    font-size: 1.1rem;
}

.hero__highlight {
    color: rgba(255, 0, 0, 0.568);
}

/* feature */
.feature {
    font-family: "Poppins", Arial, Times;
    text-align: center;
    margin: auto 6rem;
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: 6rem;
}

.feature__item {
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 4rem;
}

.feature__item p {
    text-align: left;
}

.ESL {
    text-decoration: underline;
}

.feature__title {
    font-size: 1.6rem;
    font-weight: 590;
    text-transform: uppercase;
    color:#6BC785;
    margin-bottom: 0.2rem;
}

.feature__title__selected {
    text-decoration: underline;
}

.CLE__1 {
    margin-bottom: 12rem;
}

/* Call to action */
.cta {
    padding: 12rem 4rem;
    background-color: #6BC785;
    color: whitesmoke;
    text-align: center;
    
}

.cta__description {
    padding: 1rem 0;
    color: whitesmoke;
}

/* Call to action button */
button {
    color: none;
    border: none;
    padding: 0.8rem 1.5rem;
}

.cta__button {
    padding: 0.8rem 1.2rem;
    height: 3rem;
}

/* text within 'cta' button */
.cta__button span {
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 500;
    color:#333
}

.cta__button {
    border-radius: 0.8rem;
}

.cta__title {
    font-size: 1.5rem;
    font-weight: 500;
}

/* cta description */
.cta__description {
    font-size: 1.2rem;
    color: rgba(245, 245, 245, 0.87);
}


/* Video style */
.video {
    text-align: center;
    padding: 4rem;
    font-weight: 500;
    margin-top: 7rem;
    background-color: white;
    
}

/* Video title; Grow your child's future */
.video__title {
    font-size: 2rem;
    font-weight: 500;
}

.video__description {
    margin-top: 0.8rem;
    padding: 0.5rem;
    font-weight: 200;
    font-size: 1.2rem;
    
}

/* video controls */
.video__controls {
    margin-top: 2rem;
}

.video__button{
    border: 1px solid #6BC785;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.video__button span {
    font-family: Poppins;
}

.video__button__primary {
    margin-right: 0.5rem;
}

.video__container {
    margin-top: 2rem;
    background-color: #ccc;
    border-radius: 1.5rem;
    width: 100%;
    height: 30rem;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.178);
}

/* Programs */
.programs {
    padding: 4rem;
    background-color: white;
    padding-bottom: 6rem;
}

.program__overview {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.program__overview span {
    font-size: 1.4rem;
    font-weight: 400;
}

/* Program card */
.program__cards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.program__card {
    background-color: #b5b5b5;
    border-radius: 1.2rem;
    padding: 4rem;
    width: 30%;
    height: 15rem;
}
