* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
body {
    background-color: whitesmoke;
    color:#333;
    font-family: "Poppins", Arial, Roboto, Lobster;
}

/* main */
main {
    margin: auto 4rem;
}

/* hero */
.hero {
    padding: 6rem;
    text-align: center;
}

.hero_description {
    color:#81da76;
}

.hero_highlight {
    color: brown;
}

/* feature */
.feature {
    font-family: "Poppins", Arial, Times;
    text-align: center;
}

.feature_item {
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 4rem;
}

.feature_item p {
    text-align: left;
}

.ESL {
    text-decoration: underline;
}

.feature_title {
    font-size: 1.6rem;
    font-weight: 590;
    text-transform: uppercase;
    color:#81da76;
    margin-bottom: 0.2rem;
}

.feature_title_selected {
    text-decoration: underline;
}

/* Call to action */

.cta {
    padding: 6rem;
    background-color: #81da76;
    color: whitesmoke;
    text-align: center;
}

.cta_description {
    padding: 1rem 0;
    color: whitesmoke;
}