* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
body {
    background-color: whitesmoke;
    color:#333;
    font-family: "Poppins", Arial, Roboto, Lobster;
}

/* hero */
.hero {
    padding: 6rem;
}

.hero_description {
    color:#81da76;
}

.hero_highlight {
    color: brown;
}

/* feature */
.feature {
    font-family: "Poppins", Arial, Times;
}

.feature_item {
    padding: 1rem 0;
}

.feature_title {
    font-size: 1.6rem;
    font-weight: 590;
    text-transform: uppercase;
    color:#81da76;
    margin-bottom: 0.2rem;
}

.feature_title_selected {
    text-decoration: underline;
}