* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Poppins;
}

/* Hero section: overall*/
.hero {
    min-height: 80vh;
    background-color: #C2EFD4;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem;
}

/* Hero: hero top section */    
.hero__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
    padding: auto 2rem;  /* Fix 'Padding' to 'padding' */
}

/* Hero; Navigation menu */
.navigation__bar nav ul {
    list-style-type: none;
    display: flex; /* Make the navigation horizontal */
    gap: 1.2rem;
    margin: 0;
    padding: 0;
}


.navigation__bar a {
    font-size: 0.8rem;
    font-weight: 200;
    text-decoration: none;
    color: #094215;
}

/* Hero; Logo */
.logo {
    font-size: 2rem;
    font-weight: 500;
    font-family: Limelight;
    color: #094215;
    display: flex;
    align-items: center; /* Ensure logo text is centered vertically */
}

/* Hero; login button */
.login__button {
    display: flex;
    align-items: center; /* Ensure button is centered vertically */
    border: 0.1rem solid #094215;
    padding: 0.3rem 1.5rem;
    background-color: #C2EFD4;
    font-family: Poppins;
    font-weight: 600;
    color:#094215; 
    cursor: pointer;
}


/* Hero: Left content - Headline, description, and button */
.hero__content__left {
    max-width: 100%; /* Limit the width to half the container */
    padding: 0rem 0rem 0rem 8rem;
}

/* Hero: headline */
.hero__headline p {
    font-size: 3rem; 
    font-weight: bold; 
    color: #094215; 
    line-height: 1.2; 
}

/* Hero: headline description */
.hero__description p {
    margin-top: 1rem; 
    font-size: 1rem; 
    color: #267D49; 
    line-height: 1.5; 
}

/* Hero: button Container */
.hero__button__container {
    margin-top: 1.5rem; 
}

/* Hero: hero button - explore now */
.hero__button {
    padding: 0.8rem 2rem; 
    border: none; /* Remove default border */
    background-color: #094215; 
    color: #fff; 
    font-size: 1rem; 
    font-weight: bold; 
    cursor: pointer; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Hero: bottom section */
.hero__bottom {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* Ensure this section occupies the remaining vertical space */
    padding: auto 8rem;
}

/* Right Content - Hero Image */
.hero__content__right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero__image__container {
width: 50%;
height: 100%;
background-color: #6BC785;
border-radius: 75px 30px 75px 30px;
position: relative;
overflow-y: hidden;
}

.hero__image {
    position: absolute;
    height: 330px;
    padding-left: 20px;

}











/* Media Queries */

/* Design for smaller device; 464 - 575*/
@media only screen and (max-width: 575px) {
    .hero__top {
        display: none;
    }

    .hero__bottom {
        grid-template-columns: repeat(1,1fr);
        padding: auto 1rem;
        gap: 80px;
    }

    .hero__content__left {
        padding-left: 0px;
    }

    .hero {
        height: auto;
    }

    .hero__image__container {
        margin-left: 10%;
        overflow-y: hidden;
        scrollbar-width: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero__content__right{
        height: 21rem;
        width: 100%;
    }
    .hero__image{
    margin-top: 3px;
    margin-left: -20px;
    padding-left: 0;
    }
}