* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Poppins;
}

/* Hero section: overall*/
.hero {
    min-height: 80vh;
    background-color: #C2EFD4;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem;
}

/* Hero: hero top section */    
.hero__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* Hero; Navigation menu */
.navigation__bar nav ul {
    list-style-type: none;
    display: flex; /* Make the navigation horizontal */
    gap: 1.2rem;
    margin: 0;
    padding: 0;
}


.navigation__bar a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #094215;
}

/* Hero; Logo */
.logo {
    font-size: 2rem;
    font-weight: 500;
    font-family: Limelight;
    color: #094215;
    display: flex;
    align-items: center; /* Ensure logo text is centered vertically */
}

/* Hero; login button */
.login__button {
    display: flex;
    align-items: center; /* Ensure button is centered vertically */
    border: 0.1rem solid #094215;
    padding: 0.3rem 1.5rem;
    background-color: #C2EFD4;
    font-family: Poppins;
    font-weight: 600;
    color:#094215; 
    cursor: pointer;
}

/* Hero: bottom section */
.hero__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; /* Ensure this section occupies the remaining vertical space */
}

/* Hero: Left content - Headline, description, and button */
.hero__content__left {
    max-width: 60%; /* Limit the width to half the container */
}

/* Hero: headline */
.hero__headline p {
    font-size: 3rem; 
    font-weight: bold; 
    color: #094215; 
    line-height: 1.2; 
}

/* Hero: headline description */
.hero__description p {
    margin-top: 1rem; 
    font-size: 1rem; 
    color: #267D49; 
    line-height: 1.5; 
}

/* Hero: button Container */
.hero__button__container {
    margin-top: 1.5rem; /
}

/* Hero: Hero button - explore now */
.hero__button {
    padding: 0.8rem 2rem; 
    border: none; /* Remove default border */
    background-color: #094215; 
    color: #fff; 
    font-size: 1rem; 
    font-weight: bold; 
    cursor: pointer; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

/* Right Content - Hero Image */
.hero__content__right {
    background-color: #6BC785;
    max-width: 40%; 
    border-radius: 0.5rem; 
}