* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: Poppins;
}

/* Hero section*/
.hero {
    min-height: 80vh;
    background-color: #C2EFD4;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem;
}
    /* align-items: flex-start;  Align items to the top 
    justify-content: space-between; /* Push logo and nav to opposite sides 
    padding: 1.5rem 4rem; */


/* Hero top section */    
.hero__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* Hero; Navigation */
.navigation__bar nav ul {
    list-style-type: none;
    display: flex; /* Make the navigation horizontal */
    gap: 1.2rem;
    margin: 0;
    padding: 0;
}


.navigation__bar a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #094215;
}

/* Hero; Logo */
.logo {
    font-size: 2rem;
    font-weight: 500;
    font-family: Limelight;
    color: #094215;
    display: flex;
    align-items: center; /* Ensure logo text is centered vertically */
}

/* Hero; login button */
.login__button {
    display: flex;
    align-items: center; /* Ensure button is centered vertically */
    border: 0.1rem solid #094215;
    padding: 0.3rem 1.5rem;
    background-color: #C2EFD4;
    font-family: Poppins;
    font-weight: 600;
    color:#094215; 
    cursor: pointer;
}

/* Hero Bottom section */
.hero__bottom {
    display: flex;
    align-items: center;
}